html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ffe6f3;
    background-image: linear-gradient(#ffe6f3, white);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1vw;
}

.removeIndent {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    background-color: #ffe6f3;
    width: 1250px;
    margin: 0 auto;
    padding: 60px 0;
}

aside {
    background-color: #454746;
    width: 350px;
    float: left;
    padding: 10px;
    color: #ffe6f3;
    text-shadow: .10vw .10vw black;
}

.cent {
    text-align: center;
    background-color: #454746;
    padding: 5px;
    border-top: #ffe6f3 5px;
}

header {
    font-size: 2.5vw;
    margin: 0;
}

.emphasis {
    color: black;
    text-shadow: .10vw .10vw #ffe6f3;
}

.greyback {
    background-color: #454746;
    background-image: linear-gradient(#ffe6f3, #454746);
    width: 900px;
    margin: 0 auto;
    color: #ffe6f3;
    text-shadow: .10vw .10vw black;
    padding: 10px;
}

.content {
    width: 900px;
    float: left;
    padding: 20px;
}

.greyhead {
    background-color: #454746;
    background-image: linear-gradient( #454746, #ffe6f3);
    width: 1250px;
    margin: 0 auto;
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-shadow: .10vw .10vw #ffe6f3;
}

.pink {
    padding-bottom: 1px;
    text-shadow: .10vw .10vw #ffe6f3;
}

.feature:after {
    content: "";
    display: table;
    clear: both;
}

.feat {
    clear: both;
    text-align: center;
    margin-top: 6px;
}

.block {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding: 4px;
}

footer {
    clear: both;
    background-color: #454746;
    background-image: linear-gradient(#ffe6f3, #454746);
    width: 1250px;
    text-align: center;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}