body {
    margin: 0;
}

.container {
    overflow: hidden;
    background-color: burlywood;
}

aside {
    background-color: #cccccc;
    float: left;
    width: 350px;
}

.photo {
    background-color: chartreuse;
}

.cent {
    text-align: center;
    background-color: darkcyan;
}

header {
    text-align: center;
}

.content {
    background-color: darkred;
}

.feat {
    clear: both;
}

footer {
    clear: both;
}